.Menu {
  background: rgba(black, .5);
  height: 110%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.Menu-sidebar {
  background: $purple;
  color: white;
  height: 100%;
  width: 60%;

  .btn-holder {
    text-align: right;

    .fa-times {
      color: white;
      font-size: 1.75em;
      padding:20px;
    }
  }

  .Menu-header {
    text-align: center;
    margin: 20px 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .nav-list {
    margin: 50px 0 0 0;

    li {
      border-top: 1px solid rgba(white, .1);
      font-size: 1.1em;
      list-style-type: none;
      text-transform: uppercase;
      padding: 20px;

      &:last-child {
        border-bottom: 1px solid rgba(white, .1);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Menu-sidebar {
    width: 30%;
  }
}