.SavedHaiku {
  background: white;
  padding: 20px;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
  }

  button {
    background: $purple;
    color: white;
    font-weight: 600;
    margin: 10px 0;
    padding: 10px;
    width: 100%;

    &:hover {
      background: rgba($purple, .7);
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  .edit-btn {
    padding: 10px 115px;
  }

  .see-all-btn {
    padding: 10px 75px;
  }
}

@media only screen and (min-width: 768px) {
  .SavedHaiku {
    font-size: 1.1em;
    padding: 30px 50px;

    h2 {
      text-align: left;
    }

    .btn-container {
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      width: 45%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .SavedHaiku {
    font-size: 1.2em;
    padding: 40px 75px;

    .edit-btn {
      padding: 10px 160px;
    }

    .see-all-btn {
      padding: 10px 115px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .SavedHaiku {
    padding: 50px 100px;

    .edit-btn {
      padding: 10px 190px;
    }

    .see-all-btn {
      padding: 10px 145px;
    }
  }
}