.HaikuForm {
  color: #CCC;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: 10px 0 0 0;

  input {
    border: 1px solid #DDD;
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 9px;

    &::placeholder {
      color: #CCC;
    }
  }

  button {
    background-color: $purple;
    color: white;
    font-weight: 600;
    margin: 10px 0;
    padding: 10px;
  }

  .HaikuForm-submit {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .HaikuForm {
    margin: 20px 0 0 0;

    input { 
      margin: 5px 0 15px 0;
    }
  }
}