.Haiku {
  background: white;
  line-height: 1.3em;
  margin: 0 0 20px 0;
  padding: 20px;
  text-align: center;
}

.title {
  margin: 0 0 5px 0;
}

@media only screen and (min-width: 768px) {
  .Haiku {
    font-size: 1.1em;
    padding: 20px 50px;
  }
}

@media only screen and (min-width: 1000px) {
  .Haiku {
    font-size: 1.2em;
    padding: 20px 75px;
  }
}

@media only screen and (min-width: 1200px) {
  .Haiku {
    padding: 20px 250px;
  }
}
