.Header {
  background: $purple;
  color: white;
  padding: 10px 15px 15px 15px;
  text-align: center;

  h1 {
    font-family: 'Baloo', sans-serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin: 0 15px 15px 15px;
    position: relative;
    top: 10px;
  }

  .search-input {
    @include border;
    font-style: italic;
    padding: 10px;
    width: 50%;
  }

  .flex-container {
    justify-content: space-between;
  }

  .fa-search,
  .fa-bars {
    color: white;
    font-size: 1.75em;
  }
}