.HomeContainer {
  .home-card {
    background: white;
    margin: 20px 0;
    padding: 20px 20px 0;
  }

  h2 {
    margin: 0;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .HomeContainer {
    .home-card {
      font-size: 1.1em;
      padding: 30px 50px 1px;
    }

    h2 {
      text-align: left;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .home-card {
    font-size: 1.2em;
    padding: 40px 75px 1px;
  }
}

@media only screen and (min-width: 1200px) {
  .home-card {
    font-size: 1.3em;
    padding: 50px 250px 1px;
  }
}